# Web Framework
Flask==3.0.0
flask-cors==4.0.0

# Background Task Scheduling
APScheduler==3.10.4

# Network Scanning
scapy==2.5.0

# Utility
python-dotenv==1.0.0

# Testing
requests==2.31.0

# Development
watchdog==6.0.0
